<!DOCTYPE html>
<html>
    {% load static %}
<head>
    <title>Ad Detail</title>
    <a href="/" onclick="return confirm('Вы уверены, что хотите вернуться на главную страницу?')">🏠 Домой</a>
</head>

<body>
    <div class="container">
        {% block content %}
        <h1>{{ ad.title }}</h1>
        <p>{{ ad.description }}</p>
        <p>Status of this ad: {{ ad.status }}</p>
        <img src="{{ ad.image.url }}" alt="Ad's Image">
        <p>{{ ad.image.url }}</p>
        {% endblock %}
    </div>
    <div class="user_choise">
        {% block user's_choise %}
        <p>Want to trade?</p>
        <form method="post">
            {% csrf_token %}
            <input type="radio" id="yes" name="choice" value="yes">
            <label for="yes">Yes</label><br>

            <input type="radio" id="no" name="choice" value="no">
            <label for="no">No</label><br>

            <button type="submit">Trade</button>
        </form>
        {% endblock %}
    </div>
</body>