<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Welcome to Some title</title>
</head>

<body>
    {% if user.is_authenticated %}
    <a href="{% url 'profile' request.user.id %}">Profile</a>
    <a href="{% url 'create_ad' %}">Create Ad</a>
    <a href="{% url 'signout' %}">Quit</a>
    {% else %}
    <a href="{% url 'signin' %}">Sign in</a>
    <a href="{% url 'signup' %}">Sign up</a>
    {% endif %}
    {% if ads %}
    {% for i in ads %}
    <h3>
        <a href="{% url 'ad_detail' i.id %}">{{ i.title }}</a>
    </h3>
    {% endfor %}
    {% else %}
    <p>No ads available.</p>
    <p>Please come back later.</p>
    {% endif %}
</body>

</html>