<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    <a href="/" onclick="return confirm('Вы уверены, что хотите вернуться на главную страницу?')">🏠 Домой</a>
</head>
<body>
    <h1>Sign In</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.email.errors }}
        <p>Your e-mail:</p>
        {{ form.email }}
        {{ form.password.errors }}
        <p>Your password:</p>
        {{ form.password }}
        <br><br>
        <button type="submit">Sign In</button>
    </form>
</body>
</html>